
/* Header */

.Header {
	width: 100%;
}

/* Header background */

.Header-background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Header inner */

.Header-inner {
	height: 100%;
	position: relative;
}

@media (min-width: 48em) {

	/* Header */

	.Header {
		position: absolute;
		width: 50%;
		left: 0;
		top: 0;
	}

	/* Header background */

	.Header-background {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 4px;
	}

}