
/* Header */

.Header {
	/*height: 100vh;*/
	position: relative;
}

.Header-background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.Header-logo {
	margin-bottom: 0;
}

.Header-inner {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: column;
	flex-flow: column;
	padding: 4.5em 1em;
	height: 100%;
}

@media (min-width: 48em) {

	.Header-inner {
		padding: 3em 3em;
	}

}

@media (min-width: 72em) {

	.Header-inner {
		padding: 4.5em 6em;
	}

}

@media (min-width: 96em) {

	.Header-inner {
		padding: 6em 6em;
	}

}