
/* Header */

.Header {
	width: 100%;
}

/* Header background */

.Header-background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Header inner */

.Header-inner {
	height: 100%;
	position: relative;
}

@media (min-width: 48em) {

	/* Header */

	.Header {
		position: absolute;
		width: 50%;
		left: 0;
		top: 0;
	}

	/* Header background */

	.Header-background {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 4px;
	}

    /* Header logo */

	.Header-logo {
		bottom: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		left: 0;
		position: fixed;
		width: 8em;
	}

}