
/* Main */

.Main {
	margin-top: -2em;
}

.Main-inner {
	padding: 0;
}

.Main-hero {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
	text-align: center;
	height: 16em;
	width: 100%;
}

@media (min-width: 48em) {

	.Main-hero {
		height: 30em;
	}

}

@media (min-width: 60em) {

	.Main-hero {
		height: 40em;
	}

}