
/* Main */

.Main {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

/* Main background */

.Main-background {
	height: 100%;
	position: absolute;
	width: 100%;
}

/* Main inner */

.Main-inner {
	height: auto;
	position: relative;
	width: 100%;
}

@media (min-width: 48em) {

	/* Main */

	.Main {
		margin-top: 10em;
		position: relative;
		height: 100%;
		width: 100%;
	}

	.Main-wrapper {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

    .Main-inner {
	    height: 100vh;
    }

}